# .env
CAPTCHA_API_KEY= # CAPTCHA_API_KEY

DEFAULT_PROXY= # Proxy server http gataway E.G:  http://YOUR_PROXY_USERNAME:YOUR_PROXY_PASSWORD@unblock.decodo.com:60000

GOLOGIN_API_TOKEN = # GOLOGIN_API_TOKEN
